<?php

return array(
    'broker' => array(
        'connection' => array(
            'host' => 'localhost', 
            'port' => 5672, 
            'user' => 'user', 
            'password' => 'passwd', 
            'vhost' => '/myvhost'
        ), 
        
        'bindings' => array(
            'exchange' => array(
                'name' => 'http-serializer', 
                'options' => array(
                    'type' => 'direct', 
                    'passive' => false, 
                    'durable' => true, 
                    'autoDelete' => false
                )
            ), 
            'queue' => array(
                'name' => 'rpc-request', 
                'options' => array(
                    'passive' => false, 
                    'durable' => true, 
                    'exclusive' => false, 
                    'autoDelete' => true
                )
            ), 
            'consumer' => array(
                'tag' => 'rpc-broker', 
                'noLocal' => false, 
                'noAck' => true, 
                'exclusive' => true, 
                'noWait' => false
            )
        )
    ), 
    
    'handler' => array(
        'className' => '\HttpSer\Broker\Handler\HttpsRelay', 
        'params' => array(
            'targetUrl' => 'https://example.org/url/target', 
            
            'client' => array(
                
                'options' => array(
                    'keepalive' => true, 
                    'useragent' => 'HTTP Serializer'
                ), 
                
                'adapter' => array(
                    'class' => 'Zend\Http\Client\Adapter\Socket', 
                    'options' => array(
                        'persistent' => true, 
                        'ssltransport' => 'ssl'
                    ), 
                    'streamContext' => array(
                        'ssl' => array(
                            'verify_peer' => true, 
                            'cafile' => '/etc/ssl/certs/ca-bundle.pem', 
                            'allow_self_signed' => false
                        )
                    )
                )
            ), 
            
            'serializer' => array(
                'adapter' => 'PhpSerialize', 
                'options' => array()
            )
        )
    ),
    
    'logger' => array(
        'writer' => 'stream',
        'options' => array(
            'stream' => '/data/var/log/http-serializer/broker.log'
        )
    )
);