<?php

return array(
    
    'agent' => array(
        
        'responseTimeout' => 10,
        
        'connection' => array(
            'host' => 'localhost', 
            'port' => 5672, 
            'user' => 'mcu', 
            'password' => 'mcuapi', 
            'vhost' => '/mcu'
        ), 
        
        'bindings' => array(
            'exchange' => array(
                'name' => 'mcu-http-serializer'
            ), 
            'queue' => array(
                'namePrefix' => 'rpc-response-', 
                'options' => array(
                    'passive' => false, 
                    'durable' => false, 
                    'exclusive' => true, 
                    'autoDelete' => true
                )
            ), 
            'consumer' => array(
                'tag' => 'rpc-agent', 
                'noLocal' => false, 
                'noAck' => true, 
                'exclusive' => false, 
                'noWait' => true
            )
        )
    )
);