<?php

return array(
    
    'agent' => array(
        
        'responseTimeout' => 10, 
        
        'connection' => array(
            'host' => 'localhost', 
            'port' => 5672, 
            'user' => 'user', 
            'password' => 'passwd', 
            'vhost' => '/myvhost'
        ), 
        
        'bindings' => array(
            'exchange' => array(
                'name' => 'http-serializer'
            ), 
            'queue' => array(
                'namePrefix' => 'rpc-response-', 
                'options' => array(
                    'passive' => false, 
                    'durable' => false, 
                    'exclusive' => true, 
                    'autoDelete' => true
                )
            ), 
            'consumer' => array(
                'tag' => 'rpc-agent', 
                'noLocal' => false, 
                'noAck' => true, 
                'exclusive' => false, 
                'noWait' => true
            )
        )
    ), 
    
    'serializer' => array(
        'adapter' => 'PhpSerialize', 
        'options' => array()
    ), 
    
    'logger' => array(
        'writer' => 'stream', 
        'options' => array(
            'stream' => '/data/var/log/http-serializer/frontend.log'
        )
    )
);